#app {
  font-family: "Comfortaa", cursive;
}

.btn-success {
  background-color: #98a8f8;
  border: none;
  box-shadow: 1px 2px 2px rgb(56, 56, 56);
}
.btn-success:hover {
  background-color: #bccef8;
}
.bg-nav {
  background-color: #faf7f0;
}
/* .container {
  margin: 0;
  padding: 0;
} */

.card {
  margin: 4px 4px 4px 4px;
  justify-content: center;
}
.card-product {
  border-radius: 15px;
}
.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/* .nav-item {
  margin-right: 10px;
  margin-left: 20px;
} */
.navbar-brand {
  font-size: xx-large;
  margin-right: 30px;
}
.router-link-exact-active {
  font-weight: bold;
  color: whitesmoke;
  border-radius: 5px;
  background-color: #98a8f8;
}
